extends ../layout

block content
	div(class="jumbotron")
		h1 Owlknow embryo
		p(class="lead")
			| Web/App teste para o desenvolvimento do TCC, 
			| baseada no conceito MVC 
			br
			| utilizando tecnologias Node.js, Express.js e o banco de dados 
			| noSql MongoDB 
		

		p
			a(href="http://expressjs.com/pt-br/" target="_blank" class="btn btn-lg btn-success") Saiba mais